*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(213, 176, 248);
}

.main{
    background-color: rgb(224, 202, 245);
    margin: 100px 200px;
    padding: 50px;
    border: 1px solid white;
    border-radius: 20px;
}

.main h1{
    text-align: center;
    color: rgb(247, 244, 244);
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form div{
    display: flex;
}

label{
    margin: 10px;
}


form div textarea,input{

    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin: 10px;
}


.submit{
    align-self: center;
    width: 50%;
    background-color: rgb(213, 176, 248);  
}